html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  max-width: 900px;
  margin: 0 auto;

  padding-top: 152px;
  padding-bottom: 46px;
}

header {
  box-sizing: border-box;
  background: rgb(154, 188, 219);
  border: 1px solid rgb(54, 122, 184);
  height: 150px;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 900px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
  padding: 0;
  z-index: 1;
}

footer {
  box-sizing: border-box;
  background: #ddd;
  border: 1px solid #aaa;
  height: 44px;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 900px;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer li {
  background: #eee;
  border: 1px solid #fff;
  list-style: none;
  display: inline-block;
  height: 40px;
  width: 60px;
}

footer li a {
  display: block;
  height: 40px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
}

h1 {
  font-size: 1em;
  font-weight: bold;
  padding: 8px 10px 0px 10px;
  white-space: nowrap;
}

button {
  vertical-align: middle;
}

.podcast-player-controls-row1 {
  padding: 0px 10px 8px 10px;
}

.podcast-play {
  height: 60px;
  width: 120px;
  font-size: 30px;
}

.podcast-rewind,
.podcast-forward {
  width: 60px;
  height: 40px;
}

.podcast-next {
  width: 84px;
  height: 40px;
}

.podcast-player-controls-row2 {
  display: flex;
  padding: 0px 10px;
}

.podcast-time {
  width: 5em;
  display: inline-block;
  text-align: center;
}

.podcast-progress {
  flex: 1;
}

.podcast-speed {
  width: 50px;
  padding: 0 10px;
}

#priority0 {
  border: 1px solid #c61;
  margin-bottom: 1em;
}

#priority1 {
  border: 1px solid #444;
  margin-bottom: 1em;
}

#priority2 {
  border: 1px solid #61f;
  margin-bottom: 1em;
}

#tab-sidebar {
  padding: 1em;
}

label[for=autoplay] {
  font-weight: normal;
  display: inline;
  text-transform: uppercase;
  font-size: 0.75em;
  position: relative;
  top: -3px;
}

#completed {
  font-family: monospace;
  font-size: 0.9em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  min-height: 60px;
  width: 100%;
  margin: 1em 0;
}

#sync-progress {
  margin-bottom: 1em;
}

#sync-progress button {
  width: 60px;
  height: 40px;
}

.podcast-item {
  margin-bottom: 1em;
  padding: 1em;
  position: relative;
  padding-left: 146px;
  min-height: 120px;
}

.podcast-item-image {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 16px;
    left: 16px;
    background: #eee;
}

.podcast-item-image img {
    width: 100%;
}

.podcast-item-heading {
  margin-bottom: 0.5em;
}

.podcast-item-heading a {
  text-decoration: none;
}

.podcast-item-author {
  font-weight: bold;
}

.podcast-item-details {
  font-style: italic;
  font-size: 0.9em;
}

.podcast-item-guid {
  font-family: monospace;
  font-size: 0.9em;
}

.podcast-item-duration-symbol {
  font-style: normal;
  padding-right: 0.5em;
}

.podcast-item-progress-bar {
    position: absolute;
    background-color: #44668880;
    left: 2px;
    right: 2px;
    bottom: 1px;
    height: 4px;
}

.set-priority-l, .set-priority-r, .mark-done {
  display: block;
  position: absolute;
  bottom: 8px;
  border-radius: 8px;
  width: 24px;
  height: 24px;
  cursor: hand;

  font-size: 18px;
  text-align: center;
  line-height: 24px;

  color: #ccc;
  border: 1px solid #ddd;
  background: #eee;
}
.set-priority-l {
  right: 40px;
}
.set-priority-r {
  right: 8px;
}
.mark-done {
  right: 120px;
}

.podcast-item:hover .set-priority-r,
.podcast-item:hover .set-priority-l,
.podcast-item:hover .mark-done {
  color: #444;
  border: 1px solid #888;
  background: #ccc;
}

#priority0 .set-priority-r {
  display: none;
}

#priority2 .set-priority-l {
  display: none;
}

.podcast-item-completed .mark-done {
  display: none;
}

.tally-pubdate {
  padding-bottom: 1em;
  cursor: default;
  display: flex;
}

.tally-pubdate > span {
  flex: 1;
}

.tally-priority0 {
    color: #c61;
    flex: 1;
}

.tally-priority1 {
    color: #444;
    flex: 1;
}

.tally-priority2 {
    color: #61c;
    flex: 1;
}

.podcast-items .podcast-item-highlight {
  background: #f1f1f1;
}

.podcast-items .podcast-item-playing {
  background: #ffa;
}

.podcast-items .podcast-item-completed {
  background: #ddd;
  border: 2px solid #bbb;
}

.podcast-items .podcast-item-inprogress {
  border: 2px solid #888;
}

.tally-pubdate .podcast-item-highlight {
  background: #ddd;
}

.tally-pubdate .podcast-item-playing {
  background: #ffa;
}

.tally-pubdate .podcast-item-completed {
  color: #ddd;
}

.tally-pubdate .podcast-item-inprogress {
  border: 1px solid #888;
  border-radius: 10px;
}

#errors {
  color: red;
  margin: 0;
}
